@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading_container{
    position: relative;
}
.orange_bitmap{
    width: 100%;
    height: auto;
}
.heading_main_part{
    width: 100%;
    padding: 24px 20px 0 20px;
    position: absolute;
    z-index: 2;
    top: 0;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading_text{
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading_text > h1{
    max-width: 327px;
    height: auto;
    color: #FFF;
    text-align: center;
    font-family: Fraunces;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 6.25px;
    text-transform: uppercase;
}
.downside_arrow{
    position: absolute;
    bottom: 30%;
    left: 47%;
}
.four_image_container{
    position: relative;
    top: -4px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.egg_bitmap{
    width: 100%;
    height: auto;
}
.cup_bitmap{
    width: 100%;
    height: auto;
}
.top_text{
    padding: 50px 0 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top_text > h1{
    max-width: 327px;
    color: #24303E;
    font-family: Fraunces;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.229px;
}
.top_text > p{
    max-width: 327px;
    margin-top: 24px;
    color: #808397;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.129px;
}
.top_text > a{
    margin-top: 32px;
    color: #24303E;
    font-family: Fraunces;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.top_text > div{
    position: relative;
    top: -11px;
    width: 137px;
    height: 10px;
    border-radius: 28px;
    opacity: 0.25;
    background: #FAD400;
}
.bottom_text{
    padding: 50px 0 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom_text > h1{
    max-width: 327px;
    color: #24303E;
    font-family: Fraunces;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.229px;
}
.bottom_text > p{
    max-width: 327px;
    margin-top: 24px;
    color: #808397;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.129px;
}
.bottom_text > a{
    margin-top: 32px;
    color: #24303E;
    font-family: Fraunces;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.bottom_text > div{
    position: relative;
    top: -11px;
    width: 137px;
    height: 10px;
    border-radius: 28px;
    opacity: 0.25;
    background: #FE7766;
}
.cherry_container{
    position: relative;
}
.cherry_container > img{
   width: 100%;
   height: auto;
}
.cherry_container > .cherry_text{
    width: 100%;
    position: absolute;
    bottom: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cherry_text > h1{
    max-width: 327px;
    color: #24554A;
    font-family: Fraunces;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.2px;
}
.cherry_text > p{
    max-width: 327px;
    color: #24554A;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 168.75% */
    letter-spacing: -0.114px;
}
.tangerine_container{
    position: relative;
    top: -4px;
}
.tangerine_container > img{
    width: 100%;
    height: auto;
}
.tangerine_text{
    position: absolute;
    bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-align: center;
}
.tangerine_text > h1{
    max-width:  327px;
    color: #052C3B;
    font-family: Fraunces;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.2px;
}
.tangerine_text > p{
    max-width: 327px;
    color: #19536C;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 168.75% */
    letter-spacing: -0.114px;
}
.profiles_container{
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.profiles_container > h2{
    max-width: 279px;
    color: #A7AAAD;
    font-family: Fraunces 9pt Soft;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 4px;
}
.three_profiles{
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: center;
}
.three_profiles > div > p{
    margin-top: 32px;
    max-width: 327px;
    color: #5B636D;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    letter-spacing: -0.129px;
}
.three_profiles > div > h1{
    margin-top: 32px;
    color: #24303E;
    font-family: Fraunces 9pt Soft;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.129px;
}
.three_profiles > div > h6{
    margin-top: 5px;
    color: #A7AAAD;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 178.571% */
    letter-spacing: -0.1px;
}
.four_images_container{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.four_images_container > img{
    width: 100%;
    height: auto;
}
.footer_container{
    width: 100%;
    padding-top: 64px;
    padding-bottom: 80px;
    background: #90D4C6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_navigation{
    margin-top: 40px;
    display: flex;
    gap: 57px;
}
.footer_navigation > p{
    color: #458D7E;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 138.889% */
    letter-spacing: -0.129px;
}
.footer_apps{
    margin-top: 88px;
}